/*
MAIN-BACKGROUND-COLOR = #37DBFF
FONT-COLOR-1 = #ECC18E
FONT-COLOR-1 = #6B184E
RARE-COLOR = #707169
FOOTER_COLOR = #1C0016
*/

.top-container {
    padding: 20px;
    background-color: #37DBFF;
    position: relative;
    padding-top: 100px;
    }

.mountain {
    position: relative;
    bottom: -25px;
    }

.cloud-1 {
    position: absolute;
    right: 200px;
    bottom: 500px;
    }

.cloud-2 {
    position: absolute;
    left: 900px;
    top: 350px;
    }

.cloud-3 {
    position: absolute;
    bottom: 400px;
    left: 300px;
    }

.you {
    width:10%;
    height: 10%;
    position: relative;
    top: 30px;
    }


.middle-container {
    position: relative;
    background-color: #ECC18E;
    padding: 50px;
    }

.me {
    width: 10%;
    height: 10%;
    }


.hello {
    margin: 0;
    }

.intro {
    position: relative;
    text-align: center;
    margin: 0 auto 0 auto;
    width: 50%;
    }

.skillset {
    color: #24BAD3;
    }

.skill-title {
    margin-top: 50px;
    }
.my-image-1 {
    position: relative;
    width: 20%;
    height: 20%;
    float: left;
    /*padding-right:10px;*/
    }

.skill-row-1 {
    margin: 20px auto 100px auto;
    width: 50%;
    text-align: left;
    }

.my-image-2 {
    position: relative;
    width: 20%;
    height: 20%;
    float: right;
    /*padding-right:10px;*/
    }

.skill-row-2 {
    margin: 100px auto 20px auto;
    width: 50%;
    text-align: right;
    }



.skill-name {
    line-height: 3em;
    }


.contact-me {
    margin-top: 70px;
    }

.message {
    margin-bottom: 20px;
    width: 38%;
    }

.message-1 {
    margin-bottom: 50px;
    width: 38%;
    }

.btn {
  background: #37DBFF;
  background-image: -webkit-linear-gradient(top, #37DBFF, #1a6a9c);
  background-image: -moz-linear-gradient(top, #37DBFF, #1a6a9c);
  background-image: -ms-linear-gradient(top, #37DBFF, #1a6a9c);
  background-image: -o-linear-gradient(top, #37DBFF, #1a6a9c);
  background-image: linear-gradient(to bottom, #37DBFF, #1a6a9c);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #29b3cf;
  background-image: -webkit-linear-gradient(top, #29b3cf, #2e7eb3);
  background-image: -moz-linear-gradient(top, #29b3cf, #2e7eb3);
  background-image: -ms-linear-gradient(top, #29b3cf, #2e7eb3);
  background-image: -o-linear-gradient(top, #29b3cf, #2e7eb3);
  background-image: linear-gradient(to bottom, #29b3cf, #2e7eb3);
  text-decoration: none;
}

/* Bottom Container */
.bottom-container {
    background-color: #6B184E;
    padding: 20px;
    }

.footer-link {
    padding: 0 10px;
    color: #1C0016;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    text-decoration: none;
    }

.footer-link:hover {
    color:#24BAD3;
     }

.copyright {
     text-align: center;
     font-size: 12px;
     padding-top: 40px;
     color: #1C0016;
     }




body {
    text-align: center;
    margin: 0 auto 0 auto;
    font-family: Merriweather, serif;
}

h1, p {
    position: relative;
    margin-block-start: 0em;
    margin-bottom: 0px;
    }

p {
    margin: 0 auto 0 auto;
    }

h1 {
    padding-bottom: 20px;
    font-size: 4rem;
    color: #6B184E;
    font-family: Sacramento, cursive;
    }

h2 {
    font-family: Montserrat, sans-serif;
    color: #6B184E;
    font-weight: normal;
    }

h3 {
    margin: 0 auto 0 auto;
    color: #30BAD1;
    font-family: Montserrat, sans-serif;
    }

hr {
    width: 7%;
    color: #6B184E;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    margin-top: 30px;
    }

